{% extends "base.html.twig" %}

{% block body %}
    <ul>
        {% for material in inventory %}
            <li>{{ material.name }} {{ material.weight }}</li>
            <a href="{{ path('app_materialcontroller_edit', {'p':material.id}) }}"><button>Modifier</button></a>
        {% endfor %}
    </ul>
{% endblock %}