{% extends "base.html.twig" %}

{% block body %}
    {% for message in app.flashes('info') %}
        {{ message }}
    {% endfor %}
    <ul>
        {% for player in players %}
            <li><a href="{{ path("app_playercontroller_playerindex", {"id" : player.id}) }}">{{ player }}</a> </li>

        {% endfor %}
    </ul>
{% endblock %}