{% extends "base.html.twig" %}

{% block body %}
    {% for message in app.flashes('info') %}
        {{ message }}
    {% endfor %}
    <ul>
        {% for personne in personnes %}
            <li>{{ personne }}</li>

        {% endfor %}
    </ul>
{% endblock %}