<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <a href="{{ path("app_indexcontroller_index") }}">Accueil</a>

    {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
