<ul>
    <li><a href="{{ path("app_itemcontroller_index") }}">liste des items</a></li>
    <li><a href="{{ path("app_playercontroller_index") }}">liste des players</a></li>
    <li><a href="{{ path("app_playeritemcontroller_new") }}">Ajouter un item à un player</a></li>
</ul>